<?xml version="1.0" encoding="utf-8" ?>
<SmartSqlMapConfig xmlns="http://SmartSql.net/schemas/SmartSqlMapConfig.xsd">
  <Settings IsWatchConfigFile="true"/>
  <Database>
    <DbProvider Name="OracleClientFactory" ParameterPrefix=":" Type="${OracleClientFactoryType}"/>
    <Write Name="OracleConnectionString" ConnectionString="${OracleConnectionString}"/>
  </Database>
  <SmartSqlMaps>
    <SmartSqlMap Path="${SmartSqlMapPath}" Type="${SmartSqlMapType}"></SmartSqlMap>
  </SmartSqlMaps>
</SmartSqlMapConfig>
