<?xml version="1.0" encoding="utf-8"?>
<!--配置文件根节点,devVer为当前版本标识，用于开发人员区分当前zsettings.config文件版本，mode为当前Zookeeper使用的环境，生产或测试-->
<configuration devVer="DEV.1.0" mode="test">
  <!--locVer为本地配置文件版本号，path为zookeeper中最新配置文件版本号路径-->
  <version locVer="1" serVerPath="/NetCore.OMS/DEV1.0/config/ConfigVersion" />
  <!--url为zookeeper连接字符串,多个URL使其高可用-->
  <zookeeperServer oauthMode="world">
    <url mode="dev" user="" pwd=""></url>
    <url mode="dev" user="" pwd=""></url>
    <url mode="dev" user="" pwd=""></url>
    <url mode="uat" user="" pwd=""></url>
    <url mode="uat" user="" pwd=""></url>
    <url mode="uat" user="" pwd=""></url>
    <url mode="pre_uat" user="" pwd=""></url>
    <url mode="pre_uat" user="" pwd=""></url>
    <url mode="pre_uat" user="" pwd=""></url>
    <url mode="test" user="" pwd="">172.16.37.30</url>
    <!--<url mode="test" user="" pwd="">172.16.36.106:2181</url>-->
  </zookeeperServer>
  <!--baseUrl为zookeeper路配置文件父路径-->
  <node baseUrl="/NetCore.OMS/config/DEV1.0">
    <!--name为该配置文件节点名称 -->
    <group name="/MySql">
      <!--
        name为改配置文件节点属性名称，和tpl中的${name}对应并且和zookeeper中的配置项属性对应，
        zookeeper完整的path为：{node.baseUrl}+{group.name}+{field.name}。
        tpl表示该配置文件的模版地址。
        path表示该配置文件替换后保存的位置。
      -->
      <field name="MySqlConnectionString" tpl="tpl/MySqlSmartSqlMap.config" path="config/MySqlSmartSqlMap.config" />
    </group>
    <group name="/Oracle">
      <field name="OracleConnectionString" tpl="tpl/OracleSmartSqlMap.config" path="config/OracleSmartSqlMap.config" />
    </group>
  </node>
</configuration>