<?xml version="1.0" encoding="utf-8" ?>
<SmartSqlMapConfig xmlns="http://SmartSql.net/schemas/SmartSqlMapConfig.xsd">
  <Settings IsWatchConfigFile="true"/>
  <Database>
    <DbProvider Name="MySqlClientFactory" ParameterPrefix="?" Type="MySql.Data.MySqlClient.MySqlClientFactory,MySqlConnector"/>
    <!--<DbProvider Name="OracleClientFactory" ParameterPrefix=":" Type="System.Data.OracleClient.OracleClientFactory,dotNetCore.Data.OracleClient"/>-->
    <Write Name="WriteDB" ConnectionString="Server=172.16.36.62;Port=3306;Database=KYOMS;Uid=DEV;Pwd=DEV;convert zero datetime=True;Allow User Variables=True"/>
    <Read Name="ReadDB-0" ConnectionString="Server=172.16.36.62;Port=3306;Database=KYOMS;Uid=DEV;Pwd=DEV;convert zero datetime=True;Allow User Variables=True" Weight="80"/>
    <Read Name="ReadDB-1" ConnectionString="Server=172.16.36.62;Port=3306;Database=KYOMS;Uid=DEV;Pwd=DEV;convert zero datetime=True;Allow User Variables=True" Weight="80"/>
  </Database>
  <SmartSqlMaps>
    <SmartSqlMap Path="Maps/Mysql" Type="Directory"></SmartSqlMap>
  </SmartSqlMaps>
</SmartSqlMapConfig>
