<?xml version="1.0" encoding="utf-8" ?>
<SmartSqlMapConfig xmlns="http://SmartSql.net/schemas/SmartSqlMapConfig.xsd">
  <Settings IsWatchConfigFile="true"/>
  <Database>
    <!--<DbProvider Name="MySqlClientFactory" ParameterPrefix="?" Type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>-->
    <DbProvider Name="OracleClientFactory" ParameterPrefix=":" Type="System.Data.OracleClient.OracleClientFactory,dotNetCore.Data.OracleClient"/>
    <Write Name="WriteDB" ConnectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.36.13)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=R_OMS_C)));Persist Security Info=True;User ID=DEV;Password=DEV;"/>
    <Read Name="ReadDB-0" ConnectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.36.13)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=R_OMS_C)));Persist Security Info=True;User ID=DEV;Password=DEV;" Weight="80"/>
    <Read Name="ReadDB-1" ConnectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.36.13)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=R_OMS_C)));Persist Security Info=True;User ID=DEV;Password=DEV;" Weight="80"/>
  </Database>
  <SmartSqlMaps>
    <SmartSqlMap Path="Maps" Type="Directory"></SmartSqlMap>
  </SmartSqlMaps>
</SmartSqlMapConfig>
